[% TRY %]
    [% INCLUDE $header %]
[% CATCH %]

[% END %]

<div id="wrapper">
    <div class="container">

        <div class="col-md-12 area-1">
        <h1>[% page %]</h1>
        <p>[% bread_crumb %]</p>
        </div>

        <div class="col-md-12 event-section">
            [%- content -%]
        </div>
    </div>
</div>


[% TRY %]
    [% INCLUDE $footer %]
[% CATCH %]
[% END %]


